<h1>Login</h1>
<%- include("./partials/messages") %>
<form action="/verify" method="post">
	<div class="form-group">
		<label for="email">Email</label>
		<input required value="<%= typeof email != "undefined" ? email : "" %>" type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
	</div>
	<button type="submit" class="btn btn-primary">Send Email</button>
    <p class="d-inline ml-3">Did you regret it? <a href="/">Cancel</a></p>
</form>