.carCard {
    background-color: cornsilk;
    color: #000000;
}

.carCardDark {
    background-color: #343A40;
    color: #FFFFFF;
}

.carTitle {
    color: #007BFF;
}

.carTitleDark {
    color: #17A2B8;
}